/* Remplace tes deux @import par celui-ci qui contient TOUT */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  width: 90%;
  max-width: 35rem;
  overflow: hidden;
  border-radius: 0.5rem;
  padding: 0 3ch 0 0;
  gap: 0.5rem;
}

.card > img {
  flex: 1;
  width: 100%;
  object-fit: cover;
}

.card .card-container {
  flex: 1;
  padding: 3ch;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card-container h2 {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  letter-spacing: 0.5rem;
  font-weight: 500;
}

.card-container h1 {
  font-family: "Fraunces", sans-serif;
  line-height: 0.95;
  font-weight: 700;
}

.card-container p {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  line-height: 1.6;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 500;
}

.prix {
  display: flex;
  align-items: center;
  gap: 2ch;
  font-family: "Montserrat", sans-serif;
}

.prix .green {
  color: hsl(158, 36%, 37%);
  font-size: 2rem;
  font-weight: 700;
}

.prix .line-through {
  text-decoration: line-through 0.12rem hsl(228, 12%, 48%);
  font-size: 0.9rem;
  font-weight: 500;
}

button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(158, 36%, 37%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
}

button img {
  width: 1em;
  height: auto;
}

button:hover {
  background-color: hsl(158, 42%, 18%);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
    body {
        padding: 6rem 1rem;
    }

    .card {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .card > img {
        content: url('images/image-product-mobile.jpg');
        width: 100%;
        object-fit: cover;
    }

    .card .card-container {
        padding: 1.5rem;
    }
}